*
{
  --white: #ffffff;
  --lightblue: #00aeff;
  --purple: #9c24ff;
  --black: #000;
  --grey: #494949;
  --lightgrey: #bebebe;
  --green: #009c34;
  --orange: #e69500;
  font-family: sans-serif;
}

body
{
  background-color: #222;
}

.App
{
    background-color: #222;
    color: #fff;
}


.title
{
    text-align: center;
    font-size: 50px;
    margin-bottom: 25px;
    font-variant: small-caps;
}

.span-white
{
  color: var(--white);
  font-weight: 700;
}

.span-green
{
  color: var(--green);
  font-weight: 700;
}

.span-orange
{
  color: var(--orange);
  font-weight: 700;
}

.span-lightblue
{
  color: var(--lightblue);
  font-weight: 700;
}

.span-purple
{
  color: var(--purple);
  font-weight: 700;
}

.span-black
{
  color: var(--black);
  font-weight: 700;
}

.span-lightgrey
{
  color: var(--lightgrey);
  font-weight: 700;
}

p
{
  color: var(--lightgrey);
  line-height: 1.5rem;
}


hr
{
  background-color: var(--lightblue);
  border: none;
  height: 1px;
}

.fade-bottom
{

    height: 3rem;
    background-image: linear-gradient(
        180deg,
        transparent,
        rgba(37,37,37,0.6),
        #111
    );
    width: 100%;
}

.fade-up
{

    height: 3rem;
    background-image: linear-gradient(
        360deg,
        transparent,
        rgba(37,37,37,0.6),
        #111
    );
    width: 100%;
}